<nav class="navbar  navbar-expand-md navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#" [routerLink]="['/home']">Xpick</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- MENU HOME PAGE  NGIF PER IL LOGIN UTENTE -->
    <div *ngIf="!this.navController.showMenuPlay"  class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " >
          <a class="nav-link" href="#" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/signin']">Sign in</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/login']">Log in</a>
          </li>
          </ul>
        </div>

        <!-- MENU PLAY/DIG  NGIF PER IL LOGIN UTENTE -->
        <div *ngIf="this.navController.showMenuPlay"  class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item " >
                <a class="nav-link" href="#" [routerLink]="['/home']">Profile <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/signin']">Stats</a>
              </li>
      
              <li class="nav-item">
                  <a class="nav-link" href="#" [routerLink]="['/play']">Dig</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="this.navController.onUserLogout()" [routerLink]="['/home']">Log out</a>
                  </li>
                </ul>
              </div>
        
    
        

      
      
    
  </nav>
