<div class="container text-center">
<h2>Log in Pickx</h2>
<div class="container w-50">
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Miner Name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Super Secret Code</label>
          
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button (click)="onLoginComplete()" type="submit" class="btn btn-primary ">Log in</button>
      </form>
</div>
</div>