
<div class="container ">
    <div class="row">
      <div class="col">
        <h2>Last Updates</h2>
        <div class="card" style="width: 18rem;">
            <img src="https://previews.123rf.com/images/liujunrong/liujunrong1611/liujunrong161100009/64741527-eisenerz-bergbaugebiet-landschaft-in-luan-county-china.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">0.0.0.0 Schiaffo del minatore</h5>
              <p class="card-text"> aggiunto questo aggiunto questo aggiunto questo aggiunto questo aggiunto questo aggiunto questo</p>
              <a href="#" class="btn btn-primary">Scopri di piu</a>
            </div>
          </div>
      </div>
      <div class="col">
        <h2>Why u should play pickx !</h2>
        <p>non ho idea non ho idea non ho idea non ho idea non ho idea non ho idea non ho idea non ho idea non ho ideanon ho ideanon ho ideanon ho ideanon ho ideanon ho ideanon ho ideanon ho ideanon ho ideanon ho ideanon ho idea</p>
      </div>
      <div class="col ">
        
            <h2>Leaderboard</h2>
            <table class="table table-dark">
                <tr>
                    <th>Level</th>
                <th>Nickname</th>
                </tr>
                <tbody *ngFor="let leader of leaderboard | slice:0:5; let i=index"> <!-- Limita la leaderboard a 10 elementi-->
            
               <td >{{leader.level}}</td>
               <td>{{leader.nickname}}</td>
            
           
        </tbody>
            </table>
        
            <h2>Events</h2>
            <div class="badge badge-primary text-wrap" >
                12 - settembre 2023 [Big summer pick fest]
              </div>
            
         
      </div>
    </div>
  </div>


